{{#each blogs as |blog|}}
<div class="border-box">
    <div class="blog">
        <h2>
         <a class="blogTitle" href="/blog/{{blog.id}}">{{blog.title}}</a>
         </h2>
        <p class="blog text">Posted by {{blog.user.username}}
          on {{format_date blog.date_created}}  
        </p>
    <div class="blogContent">
        <p class="blogContentTop">
            {{blog.content}}
        </p>
    </div>
</div>
</div>
{{/each}}